<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <nav>
        <ul>
            <li>
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="About">About</a>
            </li>
                        <li>
                <a asp-controller="Home" asp-action="Test">Test</a>
            </li>
        </ul>
    </nav>
    <main>
        @RenderBody()
    </main>


    <script src="js/main.js"></script>
</body>

</html>
